
*{
  margin:  0;
  padding: 0;
  box-sizing:  border-box;
  background-image: url('../src/Images/bgbig.png');
  background-repeat: no-repeat;
  background-size: 100%;


}
header{
  width: 100px;
  height: 100vh ;
}
.mainheader{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainheader nav{
  width: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mainheader nav a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
.menubtn{
  margin-right: 60px;
}
.mainheader button{
  padding: 10px 45px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: none;
  background-image: linear-gradient(to right,#649bff,#0070fa, #649bff);
  border-radius: 10px;
}
.main{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .right-sec{
  padding-right: 50px;
  background-image: url('');
  
}

.main .left-sec {
  padding-left: 100px; 
}
.left-sec h2{
  font-size: 20px;
  text-transform: capitalize;
  font-weight: lighter;
  color: #242424;
  margin-top: 100px;
}
.left-sec h1{
  font-size: 55px;
  text-transform: capitalize;
  font-weight: 700;
  margin: 15px;
  color: rgb(214, 88, 16);
}
.left-sec p{
  margin-bottom: 20px;
}
.left-sec button{
  padding: 15px 45px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: none;
  background-image: linear-gradient(to right,#649bff,#0070fa, #649bff);
  border-radius: 10px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
